$mdc-list-item-meta-ink-color: #000;
$mdc-theme-primary: #0288d1;

@import "@material/button/mdc-button";
@import "@material/toolbar/mdc-toolbar";
@import "@material/card/mdc-card";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

.main-card {
    width: 100%;
    height:400px;
}
.logo {
  height: 50px;
  margin-top: -10px;
}
.mdc-top-app-bar__title {
  margin-left: 15px;
}
.mdc-list-item__meta {
  color: $mdc-theme-primary;
}
